<h1>Listing phrases</h1>

<table>
  <tr>
    <th>Phrase text</th>
    <th>Billy Mayes Mode</th>
    <th></th>
    <th></th>
  </tr>

<% @phrases.each do |phrase| %>
  <tr>
    <td><%= phrase.phrase_text %></td>
    <td><%= phrase.billy_mayes_mode ? "✔" : "" %></td>
    <td><%= link_to 'Show', phrase %></td>
    <td><%= link_to 'Edit', edit_phrase_path(phrase) %></td>
    <td><%= link_to 'Destroy', phrase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Phrase(s)', new_phrase_path %>
