<p id="notice"><%= notice %></p>

<p>
  <b>Phrase text:</b>
  <%= @phrase.phrase_text %></br>
  <%= @phrase.billy_mayes_mode ? "✔" : "✗" %>Billy Mayes Mode?
</p>


<%= link_to 'Edit', edit_phrase_path(@phrase) %> |
<%= link_to 'Back', phrases_path %>
